@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Outfit:wght@100..900&display=swap');

:root {
  --bg-light: hsl(0, 0%, 95%);
  --bg: hsl(0, 0%, 90%);
  --bg-dark: hsl(0, 0%, 85%);
  --text: hsl(0, 0%, 5%);
  --accent-light: hsl(225, 50%, 90%);
  --accent: hsl(225, 50%, 45%);
  --line-color: hsl(0, 0%, 0%);
  --line-weight: 1px;
}

body {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
}

.layout {
  /* center layout */
  display: flex;
  justify-content: center;
}

.sidebar {
  /* fixed width */
  width: 220px;
  /* height: 100%; */
  padding: 20px 40px;
  /* temporary green for visualization */
  background-color: var(--bg);
  border-right: var(--line-weight) solid black;
  font-family: 'Outfit', sans-serif;
}

.sidebar h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 4px;
  padding: 10px;
  border-bottom: 1px solid var(--bg);
  transition: 0.2s;
}

.sidebar h3:hover {
  border-bottom: 1px solid var(--line-color);
}

.sidebar h3:active {
  background-color: var(--accent);
  color: var(--bg);
  border-bottom: 1px solid var(--accent);
  transition: 0s;
}

.content {
  /* fixed width */
  width: 800px;
  padding: 40px 80px 0;
  font-family: 'EB Garamond', serif;
}

.intro p {
  font-size: 20px;
}

.timeline-block {
  margin-top: 60px;
  font-family: 'Outfit', sans-serif;
}

.timeline-block p {
  font-family: 'EB Garamond', serif;
}

.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-top: 40px;
  padding-bottom: 40px;
}

.timeline::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--line-weight);
  background: var(--line-color);
}

.timeline>li {
  padding-left: 40px;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: ' ';
  position: absolute;
  top: 38px;
  left: -40px;
  width: 40px;
  height: var(--line-weight);
  background: var(--line-color);
  transform: scaleY(0.5);
}

.timeline-item::after {
  content: ' ';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 0%;
  border: var(--line-weight) solid var(--line-color);
  top: 34px;
  left: -44.5px;
  transform: rotate(45deg);
  background-color: var(--bg);
}

.timeline-item {
  padding: 25px;
  border: var(--line-weight) solid var(--line-color);
  position: relative;
  background-color: var(--bg-light);
  box-shadow: 2px 2px 0px var(--line-color);
  transition: background-color 0.3s;
}

.timeline-item:hover {
  background-color: var(--accent-light);
  box-shadow: 4px 4px 0px var(--line-color);
}

.timeline-item>h4 {
  margin: 0;
  font-weight: 600;
  line-height: 1.6em;
}

.timeline-item>p {
  margin: 0;
  line-height: 1.6em;
}

.timeline-item ul {
  font-family: 'EB Garamond', serif;
  list-style-type: square;
  margin-top: 10px;
}